*.csproj.user
*.suo
*.cache
Thumbs.db
*.DS_Store
*.bak
*.cache
*.log
*.swp
*.user
*.class
stash/
*.iml

node_modules/
examples/demoA/.idea/**
examples/demoA/node_modules/
examples/demoA/www/lib/
.idea/**
test/.idea/**
test/android/.idea/**